body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: clamp(100px, 20vw, 250px);
    container-type: size;
}

.header img{
    display: block;
    height: 100%;
    width: auto;
    flex-shrink: 0;
}

.header div {
    display: flex;

    height: 100%;
    flex: 1;

    font-size: min(50cqh, 8vw);
    white-space: nowrap;

    align-items: center;
}

.header #text-left {
    justify-content: flex-end;
}

.header #text-right {
    justify-content: flex-start;
}